<form>
  <h3>{{{title}}}</h3>

  <div>
    <label style="display: flex; align-items: center;">
      {{localize 'DND5E.Skip'}}: <input name="skip" type="checkbox"/>
    </label>
  </div>
  
  <div>
    {{{summary}}}
  </div>
</form>